In [1]:
import pandas as pd

In [13]:
t0 = pd.read_csv('ArchivoEntradaTrain0.csv', header=None)
t1 = pd.read_csv('ArchivoEntradaTrain1.csv', header=None)
t2 = pd.read_csv('ArchivoEntradaTrain2.csv', header=None)
t3 = pd.read_csv('ArchivoEntradaTrain3.csv', header=None)
t4 = pd.read_csv('ArchivoEntradaTrain4.csv', header=None)
t5 = pd.read_csv('ArchivoEntradaTrain5.csv', header=None)
t6 = pd.read_csv('ArchivoEntradaTrain6.csv', header=None)
t7 = pd.read_csv('ArchivoEntradaTrain7.csv', header=None)
t8 = pd.read_csv('ArchivoEntradaTrain8.csv', header=None)
t9 = pd.read_csv('ArchivoEntradaTrain9.csv', header=None)

In [14]:
data_set = pd.concat([t0,t1,t2,t3,t4,t5,t6,t7,t8,t9],axis=0)

In [15]:
data_set

,0,1,2,3,4,5,6,7,8,9,...,784,785,786,787,788,789,790,791,792,793
0,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
1,0,1,1,1,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
996,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
997,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
998,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
999,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [16]:
df_shuffled=data_set.sample(frac=1).reset_index(drop=True)

In [17]:
df_shuffled

,0,1,2,3,4,5,6,7,8,9,...,784,785,786,787,788,789,790,791,792,793
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
df_shuffled.to_csv("data_train.csv",index=None,index_label=None,header=None)

In [27]:
train_x = df_shuffled.iloc[:,:784]
train_y = df_shuffled.iloc[:,784:]

In [28]:
train_x

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,1,0,...,1,1,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,1,...,1,0,0,1,1,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,0,0

In [29]:
train_y

      784  785  786  787  788  789  790  791  792  793
0       0    0    0    0    0    0    0    0    0    1
1       0    0    0    0    0    0    0    0    0    1
2       1    0    0    0    0    0    0    0    0    0
3       0    0    0    0    0    0    0    0    1    0
4       0    0    0    0    1    0    0    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995    1    0    0    0    0    0    0    0    0    0
9996    0    0    0    0    0    0    0    0    0    1
9997    0    0    0    0    1    0    0    0    0    0
9998    0    0    0    1    0    0    0    0    0    0
9999    0    0    0    0    0    0    0    1    0    0

[10000 rows x 10 columns]

In [30]:
train_x.to_csv('train_x.csv',index=None, index_label=None, header=None)

In [31]:
train_y.to_csv('train_y.csv',index=None, index_label=None, header=None)

Archovos para el TEST

In [32]:
ts0 = pd.read_csv("file/ArchivoEntradaTest0.csv",header=None)
ts1 = pd.read_csv("file/ArchivoEntradaTest1.csv",header=None)
ts2 = pd.read_csv("file/ArchivoEntradaTest2.csv",header=None)
ts3 = pd.read_csv("file/ArchivoEntradaTest3.csv",header=None)
ts4 = pd.read_csv("file/ArchivoEntradaTest4.csv",header=None)
ts5 = pd.read_csv("file/ArchivoEntradaTest5.csv",header=None)
ts6 = pd.read_csv("file/ArchivoEntradaTest6.csv",header=None)
ts7 = pd.read_csv("file/ArchivoEntradaTest7.csv",header=None)
ts8 = pd.read_csv("file/ArchivoEntradaTest8.csv",header=None)
ts9 = pd.read_csv("file/ArchivoEntradaTest9.csv",header=None)

In [34]:
data_set_test = pd.concat([ts0,ts1,ts2,ts3,ts4,ts5,ts6,ts7,ts8,ts9],axis=0)

In [35]:
data_set_test.head()

,0,1,2,3,4,5,6,7,8,9,...,784,785,786,787,788,789,790,791,792,793
0,0,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0

In [38]:
test_x = data_set_test.iloc[:,:784]

In [39]:
test_x

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,1,...,1,1,1,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [40]:
test_y = data_set_test.iloc[:,784:]

In [41]:
test_y

     784  785  786  787  788  789  790  791  792  793
0      1    0    0    0    0    0    0    0    0    0
1      1    0    0    0    0    0    0    0    0    0
2      1    0    0    0    0    0    0    0    0    0
3      1    0    0    0    0    0    0    0    0    0
4      1    0    0    0    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
495    0    0    0    0    0    0    0    0    0    1
496    0    0    0    0    0    0    0    0    0    1
497    0    0    0    0    0    0    0    0    0    1
498    0    0    0    0    0    0    0    0    0    1
499    0    0    0    0    0    0    0    0    0    1

[5000 rows x 10 columns]

In [42]:
test_x.to_csv('test_x',index=None, index_label=None, header=None)

In [43]:
test_y.to_csv('test_y',index=None, index_label=None, header=None)